.header__logo{
  max-height: max-content;
  margin: 0 0 41px;
}

@media screen and (max-width:675px) {
    .header__logo {
        margin: 0 0 0 27px;
        max-width: 104px;
        min-height: 24px;
    }
}