.profile__job {
    margin: 0;
    max-width: 290px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: job;
}

@media screen and (max-width:815px) {
    .profile__job {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width:675px) {
    .profile__job {
        margin: 14px 0 0 0;
        text-align: center;
    }
}

@media screen and (max-width:375px){
    .profile__job{
        max-width: 250px;
    }
}