.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    width: 83%;
    max-height: 27px;
    box-sizing: border-box;
    margin: 0 36px 0px 36px;
    outline: none;
}

.popup__input:last-of-type{
    margin: 0px 36px 0 36px;
}

@media screen and (max-width:655px) {
    .popup__input {
        width: 84%;
        margin: 0 22px 0 22px;
    }

    .popup__input:last-of-type {
        width: 84%;
        margin: 0 22px 0 22px;
    }
}